<Context
    docBase='{{ dspace[dspaceinstance].dspace_install_dir }}/webapps/solr'>

  <Parameter
    description='Path to the DSpace configuration file.'
    override='false'
    name='dspace-config'
    value='{{ dspace[dspaceinstance].dspace_install_dir }}/config/dspace.cfg'
   />

</Context>