# .pgpass file for making access to the local PogtgreSQL server more convenient
# hostname:port:database:username:password
#*:*:ds5:uclalibdspace:NNgcR.wb1
*:*:"{{ dspace[dspaceinstance].dspace_db_name }}":"{{ dspace[dspaceinstance].dspace_db_username }}":"{{ dspace[dspaceinstance].dspace_db_password }}"