<Context
    docBase='{{ dspace_install_dir }}/webapps/xmlui'>

  <Parameter
    description='Path to the DSpace configuration file.'
    override='false'
    name='dspace-config'
    value='{{ dspace_install_dir }}/config/dspace.cfg'
   />

</Context>