<VirtualHost *:80>
  ServerName {{ tomcat_server_name }}

  ErrorLog /var/log/httpd/tomcatapps/error_log
  CustomLog /var/log/httpd/tomcatapps/access_log combined

  # don't loose time with IP address lookups
  HostnameLookups Off

  UseCanonicalName On

  ProxyRequests Off
  <Proxy *>
    Order deny,allow
    Allow from all
  </Proxy>

  ProxyPreserveHost On

  ########################################
  ### Proxies to DSpace Tomcat Apps ###

{% for dspace_app in dspace_apps when dspace_app != "probe" %}
  # {{ dspace_app }} dspace tomcat app
  <Location "/{{dspace_app}}">
    ProxyPass ajp://127.0.0.1:{{ dspace_ajp_conn_port }}/{{ dspace_app }} retry=1 keepalive=on
    ProxyPassReverse ajp://127.0.0.1:{{ dspace_ajp_conn_port }}/{{ dspace_app }}
    SetEnv force-proxy-request-1.0 1
    SetEnv proxy-nokeepalive 1
  </Location>

{% endfor %}

  # TODO: figure out if this is the correct timeout
  ProxyTimeout 300

  # default allow all
  <Location />
    Order allow,deny
    Allow from all
  </Location>

  ########################################


</VirtualHost>
